{{!-- props: {items: oneof sheetData.actionsData; label: string;} --}}

{{#*inline 'action-sublist'}}
{{log 'character-actions-list-5e' 'action-sublist items' items}}
{{#unless (CAL5E-isEmpty items)}}
<li class="items-header flexrow">
  <h3 class="item-name flexrow">{{label}}</h3>

  <div class="item-detail action-range">{{localize "DND5E.Range"}}</div>

  <div class="item-detail to-hit-cell">{{localize "CAL5E.HitDC"}}</div>
  <div class="item-detail damage-cell">{{localize "DND5E.Damage"}}</div>
</li>
<ol class="item-list">
  {{#each items as |item|}}

  <li class="item flexrow" data-item-id="{{item._id}}">
    <div class="item-name flexrow rollable">
      <div class="item-image" style="background-image: url({{item.img}})"></div>
      <h4>{{item.name}}</h4>

      {{#if item.data.uses.per }}
      <div class="item-detail spell-uses">Uses {{item.data.uses.value}} / {{item.data.uses.max}}</div>
      {{/if}}
    </div>

    <div class="item-detail action-range flexcol">
      <span>{{labels.range}}</span>
      {{#if labels.target}}
      <small>
        {{labels.target}}
      </small>
      {{/if}}
    </div>

    <div class="item-detail to-hit-cell">
      {{#if (or labels.save labels.toHit)}}
      {{#unless (or (eq labels.save "") (eq labels.save undefined))}}
      <span>{{labels.save}}</span>
      {{else}}
      <span>{{labels.toHit}}</span>
      {{/unless}}
      {{/if}}
    </div>

    <div class="item-detail damage-cell">
      {{labels.damage}} {{labels.damageTypes}}
    </div>
  </li>
  {{/each}}
</ol>
{{/unless}}
{{/inline}}

{{log 'character-actions-list-5e' 'this' this}}
<ol class="character-actions-dnd5e items-list inventory-list">
  {{!-- Actions --}}
  {{> action-sublist items=action label=(localize "DND5E.Action") }}

  {{!-- Bonus Actions --}}
  {{> action-sublist items=bonus label=(localize "DND5E.BonusAction") }}

  {{!-- Reactions --}}
  {{> action-sublist items=reaction label=(localize "DND5E.Reaction") }}

  {{!-- Special --}}
  {{> action-sublist items=special label=(localize "DND5E.Special") }}
</ol>