{{#*inline 'action-sublist'}}
{{#unless (CAL5E-isEmpty items)}}
<li class="items-header flexrow">
  <h3 class="item-name flexrow">{{label}}</h3>

  <div class="item-detail action-range">{{localize "DND5E.Range"}}</div>

  <div class="item-detail to-hit-cell">{{localize "CAL5E.HitDC"}}</div>
  <div class="item-detail damage-cell">{{localize "DND5E.Damage"}}</div>
  <div class="item-controls">
  </div>
</li>
<ol class="item-list">
  {{#each items as |item|}}

  <li class="item context-enabled flexrow" data-item-id="{{item._id}}">
    <div class="item-name flexrow rollable">
      <div class="item-image" style="background-image: url({{item.img}})">{{{ @root/rollIcon }}}</div>
      <h4>{{item.name}}</h4>

      {{#if (or item.data.isOnCooldown item.data.data.recharge.value item.data.hasUses)}}
      <div class="item-detail item-uses" title="{{localize 'DND5E.Uses'}}">

        {{#if item.data.isOnCooldown}}

        <a class="item-recharge rollable">{{item.labels.recharge}}</a>

        {{else if item.data.data.recharge.value}}

        {{localize "DND5E.Charged"}}

        {{else if item.data.hasUses}}

        {{item.data.data.uses.value}} / {{item.data.data.uses.max}}
        <small>{{localize "DND5E.Uses"}}</small>

        {{/if}}

      </div>
      {{/if}}
    </div>

    <div class="item-detail action-range">
      <span title="{{labels.range}}">{{labels.range}}</span>
      {{#if labels.target}}
      <small title="{{labels.target}}">
        {{labels.target}}
      </small>
      {{/if}}
    </div>

    <div class="item-detail to-hit-cell">
      {{#if (or labels.save labels.toHit)}}
      {{#unless (or (eq labels.save "") (eq labels.save undefined))}}
      <span title="{{labels.save}}">{{localize DND5E.AbbreviationDC}} {{data.data.save.dc}}</span>
      <small>{{lookup @root/abilities data.data.save.ability}}</small>
      {{else}}
      <span title="{{labels.toHit}}">{{labels.toHit}}</span>
      {{/unless}}
      {{/if}}
    </div>

    <div class="item-detail damage-cell">
      <span title="{{labels.damage}} {{labels.damageTypes}}">{{labels.damage}} {{labels.damageTypes}}</span>
    </div>

    <div class="item-controls context-menu">
      {{!-- Control is Injected in handleFavoriteControls.ts --}}
    </div>
  </li>
  {{/each}}
</ol>
{{/unless}}
{{/inline}}

<ol class="character-actions-dnd5e items-list inventory-list">
  {{#each actionData as |data key| }}
  {{> action-sublist items=data label=(lookup @root/activationTypes key) }}
  {{/each}}
</ol>