{{#*inline 'action-sublist'}}
{{#unless (CAL5E-isEmpty items)}}
<li class="items-header flexrow">
  <h3 class="item-name flexrow">{{label}}</h3>

  <div class="item-detail action-range">{{localize "DND5E.Range"}}</div>

  <div class="item-detail to-hit-cell">{{localize "CAL5E.HitDC"}}</div>
  <div class="item-detail damage-cell">{{localize "DND5E.Damage"}}</div>
  {{#if @root/isOwner}}
  <div class="item-controls">
  </div>
  {{/if}}
</li>
<ol class="item-list">
  {{#each items as |item|}}

  <li class="item context-enabled flexrow" data-item-id="{{item.id}}">
    <div class="item-name flexrow rollable">
      <div class="item-image" style="background-image: url({{item.img}})">{{{ @root/rollIcon }}}</div>
      <div class="flexcol action-item-name-column">
        <h4 title="{{item.name}}{{~#if (gt item.system.quantity 1)}} ({{item.system.quantity}}){{/if}}">
          {{item.name}}
        </h4>
        <small>
          {{#if (ne item.type 'spell')}}
          {{item.labels.type}}
          {{/if}}
          {{#if (and (eq item.type 'spell') (ne item.system.level 0))}}
          {{item.labels.level}} {{item.labels.school}}
          {{else}}
          {{item.labels.school}} {{item.labels.level}}
          {{/if}}
        </small>
      </div>

      {{#if (or item.system.recharge.value item.hasLimitedUses (eq item.system.activation.type "legendary"))}}
      <div class="item-detail item-uses" title="{{localize 'DND5E.Uses'}}">

        {{#if (and item.system.recharge.charged item.system.recharge.value)}}

        {{localize "DND5E.Charged"}}

        {{else if item.system.recharge.value}}

        <a class="item-recharge rollable">{{item.labels.recharge}}</a>

        {{else if item.hasLimitedUses}}

        {{#if (and (eq item.system.uses.value item.system.uses.max) item.system.uses.autoDestroy)}}
        <span title='{{item.system.quantity}}'>{{item.system.quantity}}</span>
        <small>{{localize "DND5E.Quantity"}}</small>
        {{else}}
        <span>
          {{item.system.uses.value}} / {{item.system.uses.max}}
        </span>
        <small>{{localize "DND5E.Uses"}}</small>
        {{/if}}

        {{/if}}


        {{#if (eq item.system.activation.type 'legendary')}} {{item.system.activation.cost}} {{/if}}
      </div>
      {{/if}}
    </div>

    <div class="item-detail action-range">
      {{#if (eq system.target.type 'self')}}
      <span title="{{labels.target}}">{{labels.target}}</span>
      {{else}}
      <span title="{{labels.range}}">{{labels.range}}</span>
      {{#if labels.target}}
      <small title="{{labels.target}}">
        {{labels.target}}
      </small>
      {{/if}}
      {{/if}}
    </div>

    <div class="item-detail to-hit-cell">
      {{#if (or labels.save labels.toHit)}}
      {{#unless (or (eq labels.save "") (eq labels.save undefined))}}
      <span title="{{labels.save}}">{{localize DND5E.AbbreviationDC}} {{system.save.dc}}</span>
      <small>{{lookup @root/abilities system.save.ability}}</small>
      {{else}}
      <span title="{{labels.toHit}}">{{labels.toHit}}</span>
      {{/unless}}
      {{/if}}
    </div>

    <div class="item-detail damage-cell">
      {{#each labels.derivedDamage}}
      <p title="{{#if label}}{{label}}{{else}}{{formula}} {{lookup @root/damageTypes
          damageType}}{{/if}}">
        {{formula}} <span>{{{lookup @root/damageTypeIconMap
          damageType}}}</span>
      </p>
      {{/each}}


    </div>

    {{#if @root/isOwner}}
    <div class="item-controls context-menu">
      {{!-- Control is Injected in handleFavoriteControls.ts --}}
    </div>
    {{/if}}
  </li>
  {{/each}}
</ol>
{{/unless}}
{{/inline}}

<ol class="character-actions-dnd5e items-list inventory-list">
  {{#each actionData as |data key| }}
  {{> action-sublist items=data label=(lookup @root/activationTypes key) }}
  {{/each}}
</ol>
